/* Loader */
.loader {
    display: block;
    position: fixed;
    z-index: 99999999;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    cursor: progress;
}

.loader .spinner {
    height: 100%;
    background-image: url('../../assets/@images/logo-3.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0;

    animation-duration: 0.9s;
    animation-name: changeZooM;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0.5s;

    -webkit-animation-duration: 0.9s;
    -webkit-animation-name: changeZooM;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-delay: 0.5s;
}

@keyframes changeZooM {
    from {
        -ms-transform: scale(0.9, 0.9);
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 0;
    }
    to {
        -ms-transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
        opacity: 0.5;
    }
}

@-webkit-keyframes changeZooM {
    from {
        -ms-transform: scale(0.9, 0.9);
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
    }
    to {
        -ms-transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
}


ul.errsnack {
    margin: 0 0 0 5px !important;
    padding: 0 !important;
}

ul.errsnack li {
    margin: 2px 0 0 0 !important;
    padding: 0 !important;
}

.bootstrap-select .status {
    background: #f0f0f0;
    clear: both;
    color: #999;
    font-size: 11px;
    font-style: italic;
    font-weight: 500;
    line-height: 1;
    margin-bottom: -5px;
    padding: 10px 20px;
}

.invalid-feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}


#navigation ul ul li {
    width: 380px;
}